{% extends 'main/base.html' %}
{% load static %}
{% block title %} Lesson Flashcard {% endblock %}

{% block sidebar_dynamic_content %}
<li><a href="/home" class="sidebar-link"> Home</a></li>
<li><a href="{%url 'Redirect Module Page' flashcards.0.lesson.id%}" class="sidebar-link"> Back to Lesson</a></li>
{% endblock %}

{% block content %}
<div class="col-md-10">
    <div class="container card-style mt-4">
        <div id="flashcard-container">
            {%for flashcard in flashcards%}
            <div class="flashcard-info-box d-flex align-items-center p-4 mb-4 shadow rounded position-relative"
                id="flashcard-box-{{flashcard.id}}">
                <div class="flashcard-inner" id="flashcard-{{flashcard.id}}">
                    {% if flashcard.flashcard_image %}
                    <div class="flashcard-image">
                        <img src="{{ flashcards.flashcard_image.url }}" class="flashcard-img" alt="flashcard image">
                    </div>
                    {% endif %}

                    <!-- Front Side (Question) -->
                    <div class="flashcard-question">
                        <h1 class="question-side" id="flashcard-question">{{ flashcard.flashcard_question }}</h1>
                    </div>

                    <!-- Back Side (Answer) -->
                    <div class="flashcard-answer">
                        <p class="answer-side" id="flashcard-answer">{{ flashcard.flashcard_answer }}</p>
                    </div>
                </div>
                {% if user.is_staff or perms.main.delete_flashcard %}
                <div class="dropdown ms-auto">
                    <span class="ellipsis-btn" id="dropdownMenuButton{{ flashcard.id }}" data-bs-toggle="dropdown">
                        ⋮
                    </span>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton{{ flashcard.id }}"
                        style="font-size: 0.85rem">
                        <li>
                            <button class="dropdown-item text-danger"
                                onclick="deleteItem('{{ flashcard.id }}', '/delete_flashcard/', 'flashcard')">
                                Delete
                            </button>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </div>

            {% endfor%}
            <div class="buttons mt-4 d-flex">
                <button name="previous-btn" id="previous-flashcard" class="arrow-btn">
                    &larr; <!-- Left Arrow -->
                </button>
                <div class="flex-grow-1"></div> <!-- Spacer to push the next button to the right -->
                <button name="next-btn" id="next-flashcard" class="arrow-btn">
                    &rarr; <!-- Right Arrow -->
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Include the Flashcard JavaScript -->
<script src="{% static 'js/flashcard.js' %}"></script>

{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/flashcard.css' %}">
{% endblock %}