.container {
  max-width: 100%;
  background-color:white;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.container .form-group {
  margin-bottom: 15px;

}

.container .form-control {
  border-radius: 4px;
  max-width: 100%;
  padding: 10px;
  font-size: 16px;
}

.container .btn {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #332254;
}

 .question-container {
  background-color: #ddd1ff;
  padding: 20px;
  width:100%;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

 .question-container .form-group {
  margin-bottom: 15px;
  
}

.question-container .form-control {
  width: 100%;
  max-width: 100%;

}

.question-container .btn-danger {
  margin-top: 10px;
}

 .form-label {
  font-weight: bold;
  color: #332254;
  text-align:left;

}

