.container-base {
  max-width: 100vw;
  padding: 0 1rem;
}

.row {
  flex: 1;
  display: flex;
}

.content-base {
  position: relative;
  top: -15px;
  flex: 1;
  padding: 30px;
  order: 2;
}

.content-header {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.content-children {
  flex: 1;
  padding: 2px;
}

/* Media Queries for Responsive Design */
@media (max-width: 576px) {
  .container-base {
    flex-direction: column;
  }

  .content-base {
    order: 1; /* Change order on small screens */
  }
}