.comment-form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: left;
  overflow: hidden;
}

.form-group {
  margin-bottom: 16px;
  text-align: left;
  font-size: 14px;
}

.comment-input {
  width: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  padding: 8px;
  font-size: 14px;
  resize: none;
}

.image-input {
  display: block;
  margin-top: 8px;
}

.submit-button {
  background-color: #ff6000;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:disabled {
  background-color: #b2dffc;
  cursor: not-allowed;
}

.submit-button:hover:not(:disabled) {
  background-color: #f47f32;
}

.error {
  color: #ff0000;
  font-size: 14px;
  margin-top: 8px;
}

.comments-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.comments-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.comment-form {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.comment-text {
  font-size: 14px;
  width: 90%;
  flex-grow: 1; 
  margin-bottom: 8px;
}

.comment-options {
  font-size: 14px;
  cursor: pointer;
  width: 10%;
  display: flex;
  align-self: flex-start;
}


.comment-options a {
  text-decoration: none;
  color: inherit;
}

.comment-options a:hover {
  text-decoration: underline;
  color: #ff6000;
}

.comment-images {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.comment-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #dbdbdb;
  cursor: pointer;
  transition: transform 0.2s;
}

.comment-image:hover {
  transform: scale(1.1);
}

.comment-time {
  text-align: right;
  font-size: 12px;
  color: #888;
  margin-top: 8px;
}

.comment-form .form-group-inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-form .form-group-inline label {
  margin-right: 10px;
  flex-shrink: 0;
}

.comment-form .form-group-inline .image-input {
  flex-grow: 1;
  margin-right: 10px;
  margin-bottom:auto;
}

.comment-form .form-group-inline .submit-button {
  flex-shrink: 0;
}

.replies{
  margin-top: 10px;
  background-color: #f6e6f7;
}