.comment-form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align:left;
}


.comment-form::after {
  content: "";
  position: absolute;
  bottom: -0.7em; /* Adjusts the tail position */
  left: 1em; /* Moves the tail towards the left */
  width: 0;
  height: 0.4em;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #fff transparent transparent transparent;

}


.form-group {
  margin-bottom: 16px;
  text-align:left;
}

.comment-input {
  width: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  padding: 8px;
  font-size: 14px;
  resize: none;
}

.image-input {
  display: block;
  margin-top: 8px;
}

.submit-button {
  background-color: #3897f0;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:disabled {
  background-color: #b2dffc;
  cursor: not-allowed;
}

.submit-button:hover:not(:disabled) {
  background-color: #318ce7;
}

.error {
  color: #ff0000;
  font-size: 14px;
  margin-top: 8px;
}

.comments-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

