.container-cstm-fluid {
  margin-left: 0;
}

.title {
  font-family: "Georgia", serif;
  font-size: 1.75rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 15px;
}

.info-box {
  background: linear-gradient(120deg, #f8f9fa, #ffffff);
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.info-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.cstm-header .card-cstm-img-top {
  max-width: 150px;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}

.details h1 {
  font-family: "Georgia", serif;
  color: #343a40;
}

.details p {
  font-family: "Georgia", serif;
  color: #343a40;
  font-weight: normal; 
} 

.modules-box {
  background-color: #fff5f0;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  padding:10px;
  padding-bottom: 0;

}

.modules-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}



.material-box {
  background-color: #ffe7d6;
  border-radius: 10px;
  font-size: 1rem;
  color: #333;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: left;
}

.material-box a{
  text-decoration: none;
  color: black;
}

.study-guide-box:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}

.modules-box-staff {
  background-color: rgba(255, 216, 195, 0.3);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.modules-box-staff:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.btn-outline-orange {
  border-color: #e85d04;
  color: #e85d04;
  transition: all 0.3s ease;
}

.btn-outline-orange:hover {
  background-color: #e85d04;
  color: #fff;
}

.card-style {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  padding: 20px;
  border: 1px solid #ffd8c3;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.course-details p {
  color: #6c757d;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: anywhere;
}


.btn-success {
  background-color: #ff6000; 
  border-color: #ff6000; 
  color: white; 
}

.btn-success:hover {
  background-color: #ff6000; 
  border-color: #ff6000; 
}

.form-container {
  display: flex;
  align-items: flex-start;
}

.image-upload {
  width: 100px;
  height: 100px;
  margin-right: 20px;

}

.image-upload img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: -25px;

}

.form-fields {
  flex: 1;
}

.module-details p {
  margin-top: 10px;
  font-weight: normal; 
}

.module-image{
  width: 100px;
  height: 100px;
  margin-right: 20px;

}

.module-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dropdownmenu {
  display: inline-block;
  margin-left: 30px;
}

.flashcard-alert {
  margin-top: 20px; 
  padding: 10px;
  text-align: center;
}