.ellipsis-cstm-btn {
    cursor: pointer;
    color: black; 
    font-size: 1.2rem; 
    line-height: 1;
    display: inline-block;
    position: relative;
    top: -6px; 
    font-weight: bold;
  
  }
  
  .ellipsis-cstm-btn:hover {
    color: #343a40; 
  }

  .dropdown-container {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10; /* Ensure it appears above other content */
  }