.navbar {
  background-color: #fbfaf9; 
  transition: box-shadow 0.3s ease;
  align-items: center;
}

.navbar .navbar-brand {
  font-family: "Georgia", serif;
  font-weight: bold;
  color: white;
  transition: color 0.3s ease;
  padding: 20px;
}

.navbar .navbar-brand:hover {
  color: #ff5733;
}

.logo-size {
  width: 50px !important;
  height: auto!important; /* This will maintain the aspect ratio */
}

.navbar-nav .nav-item .nav-link {
  color: white;
  font-size: 1.3rem;
  font-family: "Georgia", serif;
  font-weight: bold;
  padding: 12px 25px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
  background-color: #ff6000;
}

.navbar-text {
  color: #01284e;
  font-size: 1rem;
  margin-left: 7px;
  font-family: "Georgia", serif;
  margin-right: -10px;
}

.navbar-nav {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.navbar .navbar-brand img {
  width: 130px;
  height: auto;
  margin-bottom: 6px;
  margin-left:2.4rem;
}

.navbar:hover {
  box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.2);
}

.logout-button {
  font-family: "Georgia", serif;
  font-size: 1rem;
  background: none;
  border: none;
  color: #01284e;
  padding: 0;
  margin-left: -30px;
  margin-right: 20px;
  text-decoration: none;
  cursor: pointer;
}
