body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f4f4f4;
}

.header-bottom {
  background-color: whitesmoke;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bottom .header-bottom-brand {
  font-family: "Georgia", serif;
  font-weight: bold;
  color: white;
  transition: color 0.3s ease;
}

.header-bottom .header-bottom-brand img {
    width: 50px ;
    height: auto
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #ff6000;
  text-decoration: none;
  font-size: 1em;
  font-family: "Georgia", serif;
  font-weight: bold;
  padding: 12px 25px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-btn {
  background-color: #01284e;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.social-btn:hover {
    background-color:  #91c4f7;
}

.social-btn i {
  font-size: 18px;
}

.image-wrapper {
  position: relative;
  text-align: center;
  margin-top: 0;
}

img {
  width: 100%;
  height: auto;
  opacity: 0.9;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:  #01284e;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 15px;
  width: 80%;
  box-sizing: border-box;
}

.content p {
  font-size: 1.3em;
  font-family: "Georgia", serif;
  margin-bottom: 20px;
}

footer {
  background-color:  #01284e;
  color: white;
  padding: 15px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.container {
  display: flex;
  max-width:500px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  text-align: center;
}

/* Style for input fields */
input[type="email"],
input[type="password"] {
  width: 100%;
  max-width: 500px !important;
  padding: 10px;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Button styling */
.container button {
  width: 100%;
  max-width: 150px;
  padding: 10px;
  background-color:  #01284e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  display: block;
  margin: 10px auto 0 auto;
}

/* Add a hover effect for the button */
.container button:hover {
  background-color: #91c4f7;
}

/* Optional: Style error messages */
.container .error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

@media screen and (max-width: 480px) {
  .header-top h1 {
    font-size: 1.8em;
    padding: 12px;
  }

  .content {
    width: 95%;
    padding: 20px;
  }

  /* Set the logo size to 30% of its original size */
  .header-bottom img {
    max-width: 30%;
    height: auto; /* Ensure the aspect ratio is maintained */
  }
}
