{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ module.module_title }}{% endblock %}

{% block sidebar_dynamic_content %}
<li><a href="/home" class="sidebar-link"> Home</a></li>
<li><a href="{%url 'Redirect Course Page' module.course.id%}" class="sidebar-link"> Back to Course</a></li>
{% endblock %}

{% block content %}

<div class="col-md-10">
  <div class="container card-style mt-4">

    <!-- Course Info Box -->
    <div class="module-info-box d-flex align-items-center p-4 mb-4 shadow rounded">
      <div class="module-header">
        {% if module.module_image %}
        <img src="{{ module.module_image.url }}" class="module-img" alt="{{ module.title }}">
        {% else %}
        <img src="{% static 'images/achieve_a_mark.png' %}" class="module-img" alt="default">
        {% endif %}
      </div>

      <div class="module-details ms-4">
        <h1 class="display-4 fw-bold"> {{ module.module_title }}</h1>
        <p class="text-muted text-wrap">{{ module.topic }}</p>
        {%if user.is_staff or perms.main.add_module %}
        <p class="text-muted "> <strong>Created by: </strong>{{ module.module_creator.first_name}}
          {{module.module_creator.last_name}} </p>
        {%endif%}
      </div>
    </div>

    <!-- Lesson PDF Block -->
    {% if module.lesson_pdf %}
    <div class="modules-box p-4 shadow rounded mb-4">
      <ul class="list-unstyled">
        <li class="module-item">
          <a href="{{ module.lesson_pdf.url }}" target="_blank"> <strong>Lesson pdf: </strong>Access and download your
            lesson!</a>
        </li>
      </ul>
    </div>
    {% endif %}

    <!-- Flashcard Block -->
     {% if module.flashcards.exists %}
    <div class="flashcard-box p-4 shadow rounded mb-4" id="flashcard-{{ module.id }}">
      <ul class="list-unstyled">
        <li class="module-item">
          <a href="{%url 'Flashcard' module.id %}"> <strong>Lesson Flashcards: </strong>Interactive way to test your knowledge</a>
        </li>
      </ul>
    </div>
    {%endif%}

    <!-- Quiz Block -->
    {% for quiz in module.quizzes.all %}
    <div class="quiz-box p-4 shadow rounded mb-4" id="quiz-{{ quiz.id }}">
      <ul class="list-unstyled">
        <li class="module-item d-flex justify-content-between align-items-center">

          <a href="{% url 'Quiz' quiz.id %}" {% if quiz.time_limit %} class="timed-quiz" data-quiz-id="{{ quiz.id }}"
            data-quiz-title="{{ quiz.quiz_title }}" {% endif %}>
            <strong>
              {{ quiz.quiz_title }}: </strong>{{ quiz.quiz_description }} {%if quiz.time_limit%} (&#9888;Timed Quiz)
            {%endif%}
          </a>

          {% if user.is_staff or perms.main.delete_quiz %}
          <div class="dropdown ms-auto">
            <span class="ellipsis-btn" id="dropdownMenuButton{{ quiz.id }}" data-bs-toggle="dropdown">
              ⋮
            </span>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton{{ quiz.id }}"
              style="font-size: 0.85rem"> 
              <li>
                <button class="dropdown-item text-danger" onclick="deleteItem('{{ quiz.id }}', '/delete_quiz/', 'quiz')">
                  Delete
                </button>
              </li>
            </ul>
          </div>
          {% endif %}
        </li>
      </ul>
    </div>
    {% endfor %}


    <!-- Add Flashcard Block -->
    {% if user.is_staff or perms.main.add_flashcard %}
    <div class="box-staff p-4 shadow-sm rounded mb-4 text-center">
      <a href="{% url 'Add Flashcard' module.id%}" class="btn btn-outline-orange btn-lg">
        <i class="fas fa-plus "></i> Add Flashcard
      </a>
    </div>
    {% endif %}

    <!-- Add Quiz Block -->

    {% if user.is_staff or perms.main.add_quiz %}
    <div class="box-staff p-4 shadow-sm rounded mb-4 text-center">
      <a href="{% url 'Add Quiz' module.id%}" class="btn btn-outline-orange btn-lg">
        <i class="fas fa-plus "></i> Add Quiz
      </a>
    </div>
    {% endif %}
  </div>
</div>

<script src="{% static 'js/course_module.js' %}"></script>

{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/course_module.css' %}">

{% endblock %}