/* For the Add Question button (hollow with orange contour) */
#add-question {
    background-color: transparent;
    border: 2px solid #ff6000;
    color: #ff6000;
}

#add-question:hover {
    background-color: #ff6000;
    color: white;
}

/* For the Submit Quiz button (solid orange) */
.btn-primary {
    background-color: #ff6000;
    border-color: #ff6000;
}

.btn-primary:hover {
    background-color: #e65c00;
    border-color: #e65c00;
}

.remove-question {
    background-color: transparent;
    border-color: #dc3545;
    border: 2px solid #dc3545; 
    color: #dc3545;
    padding: 6px 11px; 
    font-size: 16px;
    border-radius: 5px; 
    cursor: pointer;
    text-align: center;
}

.remove-question:hover {
    background-color: #c82333;
    border-color: #c82333;
    color:white;
    transform: scale(1.05); 
}


/* General Page Styles */
body {
    background-color: #f8f9fa; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-style {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); 
    margin-top: 20px;
}

/* Header Section */
.quiz-info-box {
    border-bottom: 3px solid #ff6000; 
    padding-bottom: 20px;
    margin-bottom: 20px;
}


/* Quiz Info Form */
.form-label {
    font-weight: bold;
    color: #555; 
}

.form-control {
    border-radius: 10px; 
    box-shadow: none;
    border: 1px solid #ccc; 
    padding: 10px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    border-color: #ff6000; 
    box-shadow: 0 0 5px rgba(255, 96, 0, 0.5);
}

textarea.form-control {
    min-height: 120px;
}


.row .col {
    padding: 10px;
}

.mb-4 {
    margin-bottom: 1.5rem;
}


#questions-container {
    margin-top: 20px;
}


.card {
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-8px); 
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3); 
}


.card input,
.card select {
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

.card input[type="text"]:focus,
.card select:focus {
    border-color: #ff6000;
}

.card .d-flex.justify-content-end {
    display: flex;
    justify-content: flex-end;
}

/* Choices Input Styles */
.choices-container input {
    font-size: 16px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 100%;
    margin-bottom: 15px;
}

/* Hover Effect for Choices */
.choices-container input:hover {
    border-color: #ff6000;
}



/* Responsive Adjustments */
@media (max-width: 768px) {
    .card-style {
        padding: 20px;
    }

    .form-control {
        font-size: 14px;
        padding: 8px;
    }

    .card {
        padding: 15px;
    }

    .mb-4 {
        margin-bottom: 1rem;
    }
}
